
/* @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
@media screen and (min-width:769px){
.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

/*html body*/

html{scroll-behavior: smooth;}

body{margin: 0; padding:0; font-family: "Nanum Gothic", sans-serif; background-color:#87ceeb; color:white;}
.wrapper{width:1024px; margin:0 auto; margin-top:70px;}

/*setting a tag*/

a{color: #87ceeb;}
a:link{text-decoration: none; color:#87ceeb;}
a:visited{text-decoration: none; color:#87ceeb;}

/*************/
/**top-style**/
/*************/



#maintop{margin:0; height: 80px; position:relative; vertical-align:middle; background-color:white; color:#87ceeb;}
.top-area{width:1024px; margin:0 auto; text-align:center;}

.logo{display:inline-block; position:relative; vertical-align: middle; margin-top:0; padding:0;  line-height: 80px;}
.logo h1{margin:0; font-size:32px;}

.login-form{position:relative; float:right; display: inline-block; margin:0; padding:0; margin-right:150px;  width:200px;}
#login-list{list-style:none; vertical-align: middle; margin:0; padding:0;}
#login-list li{float:left; margin-left:10px; line-height: 80px; font-weight: bold;}


/***************/
/*main-contents*/
/***************/
#mainmiddle{margin:0 auto; text-align:center; font-size:15px; font-weight:500; font-weight: bold;}

/*****intro*****/
.intro{line-height: 35px;}
.input_style{border-radius: 10px; background-color:rgba(255, 255, 255, 0.5); border:none; width:220px; height: 30px; }
.input_button{ background-color:white; cursor:pointer; border-radius: 10px; border:none; color: #87ceeb; font-weight:900; height:70px;}

.search_id{border-radius: 10px; background-color:rgba(255, 255, 255, 0.5); border:none; width:350px; height: 30px; }

.search_id::placeholder{text-align:center;}
/*****join*****/
#join table tr td{height:40px;}
.join_go{background-color:white;
    border: none;
    border-radius:10px;
    color: #87ceeb;
    text-align: center;
    width: 270px;
    height: 30px;
    font-size:18px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 auto;
        }
.join_go{    
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.join_go:after{content: '»';
    position: absolute;
    opacity: 0;  
    right: -20px;
    transition: 0.5s;
}
.join_go:hover{
    padding-right: 24px;
    padding-left:8px;
}
.join_go:hover:after {
    opacity: 1;
    right: 40px;
  }
.join_text p a{ font-size:18px; border-radius: 10px; color:#3281a2 !important; line-height: 30px;}


/*****my_page*****/
.user_mypage_top{position:relative; margin: auto; width:700px; border-radius: 10px; border:3px solid white;}
.user_mypage_list{position:relative; margin: auto; margin-top:20px; width:700px; border-radius: 10px; border:3px solid white;}
.user_mypage_list table tr td{width:200px;}



/*****user_info****/
.user_info_top{position:relative; margin: auto; width:700px; border-radius: 10px; border:3px solid white;}
#quetion_area{position:relative; margin-top:20px; width:700px; height:50px; border-radius:10px; border:3px solid white; resize:none;}
#quetion_area::placeholder{text-align:center; }

#quetion_div{position:relative; margin: auto; width:700px;}
.quetion_form{margin-top:30px; width:700px;  height: 80px; border-radius: 10px; border:3px solid white; text-align:left;}
}