@media screen and (min-width:300px) and (max-width:1281px){
    
    @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

    body,button,input,select,table,textarea,h1,h2,h3,h4,h5,h6,p,span,a,div,th,td,tr,table,header,footer,section,nav,ul,li,label,strong{
        font-family: 'Nanum Gothic' sans-serif !important;
    }
    
    body{margin: 0; padding:0; background-color:#87ceeb; color:white;}

    a{color:white;}
    a:link{text-decoration: none; color:white;}
    a:visited{text-decoration: none; color:white;}

    
    #maintop{ position:relative; margin:0; height:170px; background-color:white; color:#87ceeb;}
    .top-area{width:100%; margin:0 auto; text-align:center;}

    .logo{display:inline-block;position:relative; vertical-align: middle; margin-top:15px; padding:0;}
    .logo h1{margin:0; font-size:58px;}
    .logo h1 a{color:#87ceeb;}

    .login-form{position:relative;width:100%;}
    #login-list{list-style:none;  display:table; margin-left:auto; margin-right:auto; margin-top:3%; padding:0;}
    #login-list li{ float:left; margin-left:10px; margin-right:10px;font-weight: bold; }
    #login-list li a{color:#87ceeb; font-size:24px; }


    .wrapper{margin:0 auto; margin-top:30px; width:100%; height: 100%;}
    /*main contents */
    #mainmiddle{margin:10px; text-align:center; font-size:35px; font-weight:500; font-weight: bold;}
  
    .logintable{width:100%; border-collapse: separate; border-spacing: 0 5px;}

    .input_style{border-radius: 15px; background-color:rgba(255, 255, 255, 0.5); border:none; width:95%; height:50px; }
    .input_style::placeholder{font-size:15px; text-align:center;}
    .left_input{width:80%;}
   
    .loginbutton{width:20%;}
    .input_button{ background-color:white; margin-left:5px; font-size:1rem; cursor:pointer; border-radius: 15px; border:none; color: #87ceeb; font-weight:900; width:95%; height:100px;}

    .intro{font-size:1rem; line-height: -25px;}
    /*user search_form */

    .search_id{border-radius: 15px; background-color:rgba(255, 255, 255, 0.5); border:none; width:300px; height: 50px; }
    .search_id::placeholder{text-align:center; font-size:15px;}

    .search_icon{ margin-left:10px; width:50px; height:40px;}
    /*join button */
    .join_go{background-color:white;
        border: none;
        border-radius:15px;
        color: #87ceeb;
        text-align: center;
        width: 70%;
        height: 50px;
        font-size:1rem;
        transition: all 0.5s;
        cursor: pointer;
        margin: 0 auto;
            }
    .join_go{    
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    .join_go:after{content: '»';
        position: absolute;
        opacity: 0;  
        right: -20px;
        transition: 0.5s;
    }
    .join_go:hover{
        padding-right: 24px;
        padding-left:8px;
    }
    .join_go:hover:after {
        opacity: 1;
        right: 30%;
      }

    #join {width:80%; margin:0 auto;}
    #join table{width:100%; }

    .user_mypage_top{position:relative; margin: auto; width:90%; border-radius: 10px; border:3px solid white;}
    .user_mypage_top p{font-size:1rem;}

    .user_mypage_list{position:relative; margin: auto; margin-top:20px; width:90%; border-radius: 10px; border:3px solid white;}
    .user_mypage_list table tr td{width:10%; font-size:1rem;}

    


/*****user_info****/
.user_info_top{position:relative; margin: auto; width:90%; border-radius: 10px; font-size:1rem; border:3px solid white;}
#quetion_area{position:relative; margin-top:20px; width:90%; height:50px; border-radius:10px; border:3px solid white; resize:none;}
#quetion_area::placeholder{text-align:center; }

#quetion_div{position:relative; margin: auto; width:90%;}

#quetion_div{margin-top:20px;}
.quetion_form{margin-top:30px; margin:0 auto; margin-bottom:1.5rem; width:90%; border-radius: 10px; font-size:1rem; border:3px solid white; text-align:left;}

.answer_form{display:flex;}

.answer_area{ margin-left:5px; width:90%; resize:none; height:50px;}


}